.idea
/build/
/Library/
/Logs/
/Temp/
*.csproj*
*.sln
*.user
*DISABLED
*DISABLED.meta
.vs/
obj/
/.project
.DS_Store
/*.apk

/Assets/Resources/FakeJs*
/Assets/Resources/Fake

/Assets/StreamingAssets.meta
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/google-services-desktop.json*
/Assets/StreamingAssets/aa
/Assets/StreamingAssets/aa.meta

/Assets/AddressableAssetsData**

/Assets/Plugins/AddressableAssetsData/**/addressables_content_state.bin*
/Assets/Plugins/AddressableAssetsData/Android.meta
/Assets/Plugins/AddressableAssetsData/WebGL.meta
/Assets/Plugins/AddressableAssetsData/Linux.meta
/Assets/Plugins/AddressableAssetsData/iOS.meta
/Assets/Plugins/AddressableAssetsData/Windows.meta
/Assets/Plugins/AddressableAssetsData/OSX.meta

/Assets/Plugins/Android/Firebase/res/values/google-services.xml*
/Assets/Plugins/Android/Firebase/res/values.meta
/Assets/Plugins/Android/Firebase/res.meta

/Assets/Plugins/Editor/JetBrains*
/Assets/Plugins/Editor.meta

**/Resources/BillingMode.json*
/Assets/Resources/BuildInfo.txt*

/FacebookInstantGames/game
/FacebookInstantGames.zip
build-ios
